* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    font-family: "Playfair Display", sans-serif;
    min-height: 100vh;
    background: #C2CCDF;
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


  .marvel-device.iphone8 {
    width: 315px;
    height: 537px;
    padding: 80px 24px;
    background: #d9dbdc;
    border-radius: 56px;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);
  }
  .marvel-device {
    vertical-align: top;
  }
  .marvel-device, .marvel-device div {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .marvel-device {
    display: inline-block;
    position: relative;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  .marvel-device.iphone8:before {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    content: '';
    left: 6px;
    border-radius: 50px;
    background: #f8f8f8;
    z-index: 1;
  }
  .marvel-device, .marvel-device div, *:before, *:after {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .marvel-device.iphone8:after {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    content: '';
    left: 8px;
    border-radius: 48px;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.1), inset 0 0 6px 3px #fff;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.1), inset 0 0 6px 3px #fff;
    z-index: 2;
  }
  .marvel-device.iphone8:before {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    content: '';
    left: 6px;
    border-radius: 50px;
    background: #f8f8f8;
    z-index: 1;
  }
  .marvel-device.iphone8 .top-bar {
    height: 14px;
    background: #bfbfc0;
    position: absolute;
    top: 68px;
    left: 0;
  }
  .marvel-device .top-bar, .marvel-device .bottom-bar {
    height: 3px;
    background: black;
    width: 100%;
    display: block;
  }
  section .wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 50px 0;
  }
  
  .marvel-device.iphone8 .sleep {
    position: absolute;
    top: 190px;
    right: -4px;
    width: 4px;
    height: 66px;
    border-radius: 0px 2px 2px 0px;
    background: #d9dbdc;
  }
  .marvel-device.iphone8 .volume {
    position: absolute;
    left: -4px;
    top: 188px;
    z-index: 0;
    height: 66px;
    width: 4px;
    border-radius: 2px 0px 0px 2px;
    background: #d9dbdc;
  }
  
  element.style {
  }
  .marvel-device.iphone8 .volume {
    position: absolute;
    left: -4px;
    top: 188px;
    z-index: 0;
    height: 66px;
    width: 4px;
    border-radius: 2px 0px 0px 2px;
    background: #d9dbdc;
  }
  .marvel-device, .marvel-device div, *:before, *:after {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  user agent stylesheet
  div {
    display: block;
  }
  section .wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 50px 0;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    text-align: center;
    color: #868e96;
  }
  body {
    line-height: 1;
  }
  .marvel-device.iphone8 .volume:before {
    position: absolute;
    left: 2px;
    top: -78px;
    height: 40px;
    width: 2px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;
  }
  
  .marvel-device.iphone8 .volume:after {
    position: absolute;
    left: 0px;
    top: 82px;
    height: 66px;
    width: 4px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;
  }
  
  .marvel-device.iphone8 .camera {
    background: #3c3d3d;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 24px;
    left: 50%;
    margin-left: -6px;
    border-radius: 100%;
    z-index: 3;
  }
  
  .marvel-device.iphone8 .sensor {
    background: #3c3d3d;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 42px;
    left: 130px;
    z-index: 3;
    border-radius: 100%;
  }
  .marvel-device.iphone8 .speaker {
    background: #292728;
    width: 54px;
    height: 4px;
    position: absolute;
    top: 45px;
    left: 52%;
    margin-left: -35px;
    border-radius: 6px;
    z-index: 3;
  }
  .marvel-device.iphone8 .speaker-third {
    background: #ffffff;
    width: 54px;
    height: 4px;
    position: relative;
    left: 52%;
    margin-left: -35px;
    border-radius: 6px;
    z-index: 999;
    bottom: 250px;
  }
  
  .marvel-device .screen {
    text-align: left;
  }
  
  .marvel-device .screen {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 3;
    background: #f6f6f6;
    overflow: hidden;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 3px #111;
    box-shadow: 0 0 0 1px #e6e9e9;
  }
  .marvel-device .screen-third{
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 3;
    background: rgba(0,0,0,0.4);
    overflow: hidden;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 3px #111;
    box-shadow: 0 0 0 1px #e6e9e9;
    opacity: 0.6;
  }
  
  .marvel-device.iphone8 .home {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 53%;
    margin-left: -34px;
    bottom: 22px;
    z-index: 3;
    background: #303233;
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  }
  
  .marvel-device.iphone8 .home:before {
    background: #f8f8f8;
    position: absolute;
    content: '';
    border-radius: 100%;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;
  }
  .marvel-device.iphone8 .bottom-bar {
    height: 14px;
    background: #bfbfc0;
    position: absolute;
    bottom: 68px;
    left: 0;
  }
  .marvel-device .top-bar, .marvel-device .bottom-bar {
    height: 3px;
    background: black;
    width: 100%;
    display: block;
  }
  .marvel-device.iphone8:after {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    content: '';
    left: 8px;
    border-radius: 48px;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.1), inset 0 0 6px 3px #fff;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.1), inset 0 0 6px 3px #fff;
    z-index: 2;
  }


  /*** MENU ***/
  .menu-line{
      display: flex;
  }
  .menu-line-third{
      display: flex;
      opacity: 0.6;
  }
  .menu-trigger, .close-trigger{
    position: relative;
    top: 7px;
    right: -10px;
    display: block;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 333;
    background: #fff;
    border-radius: 7px;
    padding: 12px 0px 2px 5px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.1);
  }
  .menu-trigger-bar.top {
    width: 40%;
 }
 .menu-trigger-bar {
    display: block;
    width: 80%;
    height: 2px;
    background-color: #454545;
    margin-bottom: 6px;
    transform: rotate(-45deg);
    position: relative;
 }
.menu-trigger-bar.bottom {
    width: 40%;
    margin-left: 44%;
}
.menu-trigger img{
    width: 28px;
    height: 14px;
}
  /***END MENU ***/


  .my-bank{
    position: relative;
    top: 21px;
    transform: translate(80px, 0px);
    color: #454545;
    font-weight: 500;
  }
  .user {
    width: 14%;
    position: relative;
    border-radius: 50%;
    transform: translate(155px, 5px);
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.3);
  }


  .cards{
      display: flex;
      margin-top: 36px;
  }
  .cards-second-screen{
    display: flex;
    margin-top: 20px;
  }
  .plus{
    padding: 5px 10px;
    background: #fff;
    border-radius: 9px;
    font-size: 23px;
    position: absolute;
    left: 12px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.1);
  }
  .add-card{
    position: relative;
    top: 40px;
    font-size: 10px;
    left: 20px;
  }
  .card-lila{
    width: 150px;
    height: 100px;
    /* background: #9466CA; */
    background: rgba(148, 102, 202, 0.8);
    border-radius: 12px;
    position: relative;
    left: 22px;
    border: 1px solid #fff;
    top: -4px;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.2);
    transform: rotate3d(1, 8, 0, 30deg);
  }
  .card-lila-second-screen {
    width: 207px;
    height: 120px;
    background: #9466CA;
    background: rgba(148, 102, 202, 0.8);
    border-radius: 12px;
    position: relative;
    left: 55px;
    border: 1px solid #fff;
    top: -4px;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.2);
  }
  .card-lila svg{
    fill: rgba(249, 145, 170, 0.8);
    width: 16px;
    position: absolute;
    right: 2px;
    top: -4px;
  }
  .card-lila-second-screen svg{
    fill: rgba(249, 145, 170, 0.8);
    width: 16px;
    position: absolute;
    right: 2px;
    top: -4px;
  }
  .card-pink{
    width: 150px;
    height: 100px;
    /* background: #F991AA; */
    background: rgba(249, 145, 170, 0.8);
    border-radius: 12px;
    position: relative;
    left: 22px;
    border: 1px solid #fff;
    top: -4px;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.2);
  }
  .card-pink img{
    width: 25px;
    transform: translate(7px,4px);
  }
  .circle1{
    width: 16px;
    height: 16px;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    top: 9px;
    left: 9px;
  }
  .circle2{
    width: 16px;
    height: 16px;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    top: -7px;
    left: 18px;
  }
  .circle3{
    width: 16px;
    height: 16px;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    top: 9px;
    left: 8px;
  }
  .circle4{
    width: 16px;
    height: 16px;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    top: -7px;
    left: 17px;
  }
  .card-num{
    color: rgba(255, 255, 255, 0.8);
    font-size: 8px;
    font-weight: 600;
    position: absolute;
    left: 10px;
    bottom: 21px;
  }
  .card-num-second-screen{
    color: rgba(255, 255, 255, 0.8);
    font-size: 8px;
    position: relative;
    left: 65px;
    top: -17px;
    font-weight: 600;
  }
  .card-name{
    color: rgba(255,255,255, 0.8);
    font-size: 8px;
    font-weight: 600;
    position: absolute;
    left: 10px; 
    bottom: 12px;
  }
  .debit-card{
    color: #fff;
    font-size: 8px;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 21px;
  }
  .amount{
    color: #fff;
    font-size: 9px;
    font-weight: 800;
    position: absolute;
    right: 10px;
    top: 33px
  }
  .glass{
    height: 395px;
    width: 315px;
    position: absolute;
    top: 145px;
    background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.45));
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.4);
  }
  .back{
    background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.45));
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    height: 290px;
    width: 290px;
    transform: translate(12px,43px);
    border-radius: 25px;
  }
  .menu-lila{
    background: #9466CA;
    padding: 10px 20px;
    border-radius: 20px;
    width: 80%;
    transform: translate(30px, 10px);
    justify-content: space-around;
  }
  .sent{
    width: 20px;
  }
  .plus-round{
    font-size: 18px;
    color: #fff;
    border-radius: 60%;
    border: 1px solid #fff;
    padding: 6px 9px;
  }
  .pay{
    width: 20px;
  }
  .separator-vertical{
    height:33px;
    border: 0.3px solid #fff;
  }
  .line-1, .line-2{
      display: flex;
      justify-content: space-around;
  }
  .sent {
    font-size: 10px;
    color: #fff;
    transform: translate(-8px,2px);
  }
  .top-up {
    font-size: 10px;
    color: #fff;
    transform: translate(-2px, 3px);
  }
  .pay {
    font-size: 10px;
    color: #fff; 
    transform: translate(10px, 4px);
  }
  .recent-view{
    margin-top: 30px;
    color: #454545;
    position: absolute;
    font-size: 12px;
    font-weight: 600;   
  }
  .recent{
    position: relative;
    left: 12px;
  }
  .view-all{
    position: relative;
    left: 180px;
  }
  .member-family, .member-friend, .member-business{
      display: flex;
  }
  .member-family .mem-img, .member-business .mem-img{
    height: 56px;
    border-radius: 18px;
    padding: 10px;
  }
  .member-name{
    transform: translate(10px, 13px);
    font-weight: 400;
  }
  .member-family .member-amount{
    transform: translate(60px, 19px);
    color: #9466CA;
  }
  .member-friend .member-amount{
    color: #9466CA;
    transform: translate(108px, 19px);
  }
  .member-business .member-amount-red{
    color: red;
    transform: translate(48px, 19px);
  }
  .member-friend .mem-img1{
    height: 60px;
    border-radius: 18px;
    padding: 10px;
  }
  .member-separator{
    width: 110%;
    border: 0.8px solid #e9e9e9;
    transform: translate(24px, 0px);
  }
  .member-separator-third{
    width: 85%;
    border: 0.8px solid #e9e9e9;
    transform: translate(24px, 0px);
  }
  .member-family .date{
    position: relative;
    left: -73px;
    top: 35px;
    font-weight: 100;
    font-size: 10px;
    position: relative;
  }
  .member-friend .date{
    position: relative;
    left: -24px;
    top: 35px;
    font-weight: 100;
    font-size: 10px;
    position: relative;
  }
  .member-business .date{
    position: relative;
    left: -81px;
    top: 35px;
    font-weight: 100;
    font-size: 10px;
    position: relative;
  }
  .menu-bottom{
    display: flex;
    padding: 15px 0px;
    background: #ffffff;
    position: relative;
    top: 245px;
    margin: -12px;
    justify-content: space-around;
  }
  .scan-icon, .analysis-icon, .seting-icon {
      width: 20px;
  }
  .income-expensive{
    margin-top: 32px;
    display: flex;
    background: #fff;
    padding: 10px;
    border-radius: 14px;
    width: 85%;
    transform: translate(24px, 10px);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .income-expensive-third{
    margin-top: 32px;
    display: flex;
    background: #fff;
    padding: 10px;
    border-radius: 14px;
    width: 85%;
    transform: translate(24px, 10px);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    opacity: 0.6;
  }
  .income{
    background: #9466CA;
    padding: 8px 26px;
    border-radius: 12px;
  }
  .income img{
    width: 20px;
  }
  .income span{
    font-size: 12px;
    color: #fff;
    position: relative;
    top: -3px;
    left: 4px;
  }
  .expencive{
    padding: 9px 12px;
  }
  .expencive img{
    width: 20px;
    transform: rotate3d(2,0,0,-170deg);  
  }
  .expencive span{
    font-size: 12px;
    position: relative;
    top: -3px;
    left: 5px;
  }
  .result{
      margin-top: 24px;
  }
  .date-data{
    font-size: 10px;
    font-weight: 400;
    display: block;
    margin-left: 20px;
  }
  .amount-data{
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    position: relative;
    top: 7px;
  }
  .rate-data{
    font-size: 13px;
    position: relative;
    top: 10px;
    left: 20px;
    display: block;
  }
  .rate{
    color: #9466CA;
    font-weight: 600;
    margin-right: 5px;
  }


  /*** CHART ***/

			.menu-box {
				height: 360px;
			}

			.donut-chart-block {
				overflow: hidden;
			}
				.donut-chart-block .titular {
					padding: 10px 0;
				}
				.os-percentages li {
					width: 75px;
					border-left: 1px solid #394264;
					text-align: center;					
					background: #50597b;
				}
					.os {
						margin: 0;
						padding: 10px 0 5px;
						font-size: 15px;		
					}
						.os.ios {
							border-top: 4px solid #e64c65;
						}
						.os.mac {
							border-top: 4px solid #11a8ab;
						}
						.os.linux {
							border-top: 4px solid #fcb150;
						}
						.os.win {
							border-top: 4px solid #4fc4f6;
						}
					.os-percentage {
						margin: 0;
						padding: 0 0 15px 10px;
						font-size: 25px;
					}
			.line-chart-block, .bar-chart-block {
				height: 180px;
			}
				.line-chart {
					height: 170px;
                    background: rgba(17,168,171,0.6);
                    margin: 13px 20px;
                    border-radius: 10px;
				}
				.time-lenght {
					padding-top: 22px;
					padding-left: 38px;
          overflow: hidden;
				}
					.time-lenght-btn {
						display: block;
						width: 70px;
						line-height: 32px;
						background: #50597b;
						border-radius: 5px;
						font-size: 14px;
						text-align: center;
						margin-right: 5px;
						-webkit-transition: background .3s;
						transition: background .3s;
					}
						.time-lenght-btn:hover {
							text-decoration: none;
							background: #e64c65;
						}
				.month-data {
					padding-top: 28px;
				}
					.month-data p {
						display: inline-block;
						margin: 0;
						padding: 0 25px 15px;            
						font-size: 16px;
					}
						.month-data p:last-child {
							padding: 0 25px;
              float: right;
							font-size: 15px;
						}
						.increment {
							color: #e64c65;
						}

.grafico {
    padding: 2rem 1rem 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 80%;
  }
  .grafico span {
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 2rem;
    height: 0;
    border-top: 1px solid;
    transform-origin: left center;
  }
  .grafico span > span {
    left: 100%; bottom: 0;
  }
  [data-valor='25'] {width: 75px; transform: rotate(-45deg);}
  [data-valor='8'] {width: 24px; transform: rotate(65deg);}
  [data-valor='13'] {width: 39px; transform: rotate(-45deg);}
  [data-valor='5'] {width: 15px; transform: rotate(50deg);}
  [data-valor='23'] {width: 69px; transform: rotate(-70deg);}
  [data-valor='12'] {width: 36px; transform: rotate(75deg);}
  [data-valor='15'] {width: 45px; transform: rotate(-45deg);}
  
  [data-valor]:before {
    content: '';
    position: absolute;
    display: block;
    right: -4px;
    bottom: -3px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
  }
  [data-valor='23']:after {
    content: '+' attr(data-valor) '%';
    position: absolute;
    right: -2.7rem;
    top: -1.7rem;
    padding: .3rem .5rem;
    background: #50597B;
    border-radius: .5rem;
    transform: rotate(45deg);  
  }
  [class^='eje-'] {
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 80%;
  }
  .eje-x {
    height: 2.5rem;
  }
  .eje-y li {
    height: 25%;
    border-top: 1px solid #777;
  }
  [data-ejeY]:before {
    content: attr(data-ejeY);
    display: inline-block;
    width: 2rem;
    text-align: right;
    line-height: 0;
    position: relative;
    left: -2.5rem;
    top: -.5rem;
  } 
  .eje-x li {
    width: 33%;
    float: left;
    text-align: center;
  }
  
  /******************************************
  GRAFICO CIRCULAR PIE CHART
  ******************************************/
  .donut-chart {
    position: relative;
      width: 200px;
    height: 200px;
      margin: 0 auto 2rem;
      border-radius: 100%
   }
  p.center-date {
    background: #394264;
    position: absolute;
    text-align: center;
      font-size: 28px;
    top:0;left:0;bottom:0;right:0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
  }
  .center-date span.scnd-font-color {
   line-height: 0; 
  }
  .recorte {
      border-radius: 50%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
    }
  .quesito {
      border-radius: 50%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
    }
  #porcion1 {
      transform: rotate(0deg);
    }
  
  #porcion1 .quesito {
      background-color: #E64C65;
      transform: rotate(76deg);
    }
  #porcion2 {
      transform: rotate(76deg);
    }
  #porcion2 .quesito {
      background-color: #11A8AB;
      transform: rotate(140deg);
    }
  #porcion3 {
      transform: rotate(215deg);
    }
  #porcion3 .quesito {
      background-color: #4FC4F6;
      transform: rotate(113deg);
    }
  #porcionFin {
      transform:rotate(-32deg);
    }
  #porcionFin .quesito {
      background-color: #FCB150;
      transform: rotate(32deg);
    }
  .nota-final {
    clear: both;
    color: #4FC4F6;
    font-size: 1rem;
    padding: 2rem 0;
  }
  .nota-final strong {
    color: #E64C65;
  }
  .nota-final a {
    color: #FCB150;
    font-size: inherit;
  }
  .transfer-btn{
      display: flex;
  }
  .quick-tran{
    display: block;
    font-size: 12px;
    color: #9466CA;
    font-weight: 600;
    margin-left: 20px;
  }
  .avliable-coontact{
    font-size: 10px;
    font-weight: 500;
    margin-left: 20px;
  }
  .transfer-btn{
    padding: 10px;
    background: #e8e8e8;
    border-radius: 25px;
    margin: -8px 17px;
    justify-content: space-around;
  }
  .transfer-btn img{
    width: 24px;
    background: #9466CA;
    border-radius: 50%;
    padding: 4px 3px;
    margin-left: 39px;
  }

  .arrow-third-screen1{
    transform: rotate3d(1,-23,0,140deg);
    width: 13px;
    position: relative;
    left: 80px;
  }
  .arrow-third-screen2{
    transform: rotate3d(1,-23,0,140deg);
    width: 13px;
    position: relative;
    left: 136px;
    
  }
  .arrow-third-screen3{
    transform: rotate3d(1,-23,0,140deg);
    width: 13px;
    position: relative;
    left: 69px;
  }
  .quick-transfer-third{
    z-index: 999;
    opacity: 1;
    position: relative;
    bottom: 232px;
    background: #fff;
    border-radius: 41px;
    margin: -12px 20px 10px 20px;
    padding: 15px 10px;
  }
  


  /*** RESPONSIVE ***/
  @media screen and (max-width: 992px){
      main{
          display: block;
      }
  }